<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <a href="/"> ....Go back to Home </a>
    <div class="container">
      <h1>ABOUT DEKU</h1>
      <p><b>REAL NAME:</b> Izuku Midoriya</p>
      <p><b>POWER:</b> Izuku Midoriya</p>
      <p><b>SCHOOL:</b> U.A.</p>
      <p><b>CLASS:</b> 1-A</p>
      <p><b>AGE:</b> 15</p>
    </div>
  </body>
</html>
