<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="images/mhalogo.png" width="300" height="200" />
      <h1>GREATEST HERO</h1>
      <h2>DEKU</h2>
      <ul>
        <li><a href="/about">About Deku</a></li>
        <li><a href="/works">Latest works</a></li>
        <li><a href="/photo_gallery">Hero's costume and looks</a></li>
      </ul>
    </div>
  </body>
</html>
