<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <a href="/"> ....Go back to Home </a>
    <div class="container">
      <h1>LATEST WORKS</h1>
      <p><b>PRO HERO COURSE:</b> Currently studying</p>
      <p><b>CITY FIGHT 2022:</b> Deku vs Kachan. He lost.</p>
      <p><b>STUDENT OLYMPICS 2022:</b> 6th Place</p>
    </div>
  </body>
</html>
